@import "vars";

.datetimepicker {
    --datetimepicker-z-index: #{$datetimepicker-z-index};
    --datetimepicker-bg: #{$datetimepicker-bg};
    --datetimepicker-border-width: #{$datetimepicker-border-width};
    --datetimepicker-border-color: #{$datetimepicker-border-color};

    z-index: var(--datetimepicker-z-index);
    display: block;
    width: $datetimepicker-width;
    padding: 0;
    margin: 0;
    color: $datetimepicker-color;
    text-align: left;
    user-select: none;
    list-style: none;
    background-color: var(--datetimepicker-bg);
    border: var(--datetimepicker-border-width) var(--ui-border-style) var(--datetimepicker-border-color);

    th {
        border-bottom: 0;

        &[abbr] {
            width: calc(100% / 7);
        }
    }

    tr:last-child > td {
        border-bottom: 0;
    }

    &.datetimepicker-disabled {
        pointer-events: none;
    }
}

.datetimepicker-inline {
    --datetimepicker-bg: transparent;
    --datetimepicker-border-width: 0;
}

.datetimepicker-action {
    cursor: pointer;

    &:hover {
        color: $datetimepicker-action-hover-color;
        background-color: $datetimepicker-action-hover-bg;
    }

    &:focus-visible {
        outline: 0;
        background-color: rgba(var(--ui-primary-rgb), .2);
    }

    &.datetimepicker-active {
        color: $datetimepicker-action-active-color;
        background-color: $datetimepicker-action-active-bg;

        &:hover,
        &:focus-visible {
            background-color: $datetimepicker-action-active-hover-bg;
        }
    }
}

.datetimepicker-disabled {
    cursor: $datetimepicker-disabled-cursor;
    opacity: $datetimepicker-disabled-opacity;

    &:focus-visible {
        outline: 0;
        background-color: rgba(var(--ui-primary-rgb), .2);
    }
}

.datetimepicker-time {
    font-size: $datetimepicker-time-font-size;
}

.datetimepicker-today {
    position: relative;

    &::before {
        position: absolute;
        right: $datetimepicker-today-right;
        bottom: $datetimepicker-today-bottom;
        display: inline-block;
        content: "";
        border: solid transparent;
        border-width: 0 0 $datetimepicker-today-size $datetimepicker-today-size;
        border-top-color: $datetimepicker-today-border-top-color;
        border-bottom-color: $datetimepicker-today-border-bottom-color;
    }

    &.datetimepicker-active::before {
        border-bottom-color: $datetimepicker-today-active-border-bottom-color;
    }
}

@media (min-width: 768px) {
    .datetimepicker-wide {
        width: $datetimepicker-wide-width;
    }
}

.datetimepicker-modal {
    --datetimepicker-border-width: 0;

    width: 100%;
}
